"""<br>
    @Author: Prayag Bhoir<br>
    @Date: 05-08-2024 <br>
    @Last Modified by: Prayag Bhoir<br>
    @Last Modified time: 15-08-2024 <br>
    @Title : Python programs on pandas<br>
"""

In [2]:
import numpy as np
import pandas as pd

## 1. Write a Python program to create and display a one-dimensional array-like object containing an array of data using Pandas module.

In [3]:
def main():
	array = np.arange(10,110,10)
	print("Original array : ",array)
     
	series = pd.Series(array,dtype='int8')
	print("\nSeries : \n",series)
     
		 
if __name__ == "__main__":
  main()

Original array :  [ 10  20  30  40  50  60  70  80  90 100]

Series :
 0     10
1     20
2     30
3     40
4     50
5     60
6     70
7     80
8     90
9    100
dtype: int8

## 2. Write a Python program to convert a Panda module Series to Python list and it's type.

In [4]:
def main():
	array = np.arange(10,110,10)
	print("Original array : ",array)
     
	series = pd.Series(array,dtype='int8')
	print("\nPsnda Series : \n",series)
     
	lst = series.tolist()
	print("\nConverted list : \n",lst,type(lst))
     
     
if __name__ == "__main__":
  main()

Original array :  [ 10  20  30  40  50  60  70  80  90 100]

Psnda Series :
 0     10
1     20
2     30
3     40
4     50
5     60
6     70
7     80
8     90
9    100
dtype: int8

Converted list :
 [10, 20, 30, 40, 50, 60, 70, 80, 90, 100] <class 'list'>

## 3. Write a Python program to add, subtract, multiple and divide two Pandas Series. 
Sample Series: <br>
[2, 4, 6, 8, 10] <br>, [1, 3, 5, 7, 9]

In [5]:
def main():
	series1 = pd.Series([1, 2, 3 ,4],dtype='int8')
	series2 = pd.Series([1 ,2, 3 ,4],dtype='int8')
    
	print("\nAddition:\n", series1 + series2)
	print("\nSubtraction:\n", series1 - series2)
	print("\nMultiplication:\n", series1 * series2)
	print("\nDivision\n", series1 / series2)

     
if __name__ == "__main__":
  main()

Addition:
 0    2
1    4
2    6
3    8
dtype: int8

Subtraction:
 0    0
1    0
2    0
3    0
dtype: int8

Multiplication:
 0     1
1     4
2     9
3    16
dtype: int8

Division
 0    1.0
1    1.0
2    1.0
3    1.0
dtype: float64

## 4. Write a Python program to get the powers of an array values element-wise.
Note: First array elements raised to powers from second array <br>
Expected Output: <br>
Original array <br>
[0 1 2 3 4 5 6] <br> <br>
First array elements raised to powers from second array, element-wise: <br>
[ 0 1 8 27 64 125 216]

In [6]:
def main():
	series1 = pd.Series([1, 2, 3 ,4],dtype='int16')
	series2 = pd.Series([1 ,2, 3 ,4],dtype='int16')
     
	power_lst = np.power(series1,series2).tolist()
	print("Power with second element :",power_lst)
     
		 
if __name__ == "__main__":
  main()

Power with second element : [1, 4, 27, 256]

## 5. Write a Python program to create and display a DataFrame from a specified dictionary data which has the index labels.
Sample Python dictionary data and list labels: <br>
exam_data = {'name': ['Anastasia', 'Dima', 'Katherine', 'James', 'Emily', 'Michael', <br>
'Matthew', 'Laura', 'Kevin', 'Jonas'], <br>
'score': [12.5, 9, 16.5, np.nan, 9, 20, 14.5, np.nan, 8, 19], <br>
'attempts': [1, 3, 2, 3, 2, 3, 1, 1, 2, 1], <br>
'qualify': ['yes', 'no', 'yes', 'no', 'no', 'yes', 'yes', 'no', 'no', 'yes']} <br>
labels = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j']

In [7]:
def main():
	exam_data = {
			'name': ['Anastasia', 'Dima', 'Katherine', 'James', 'Emily', 'Michael',
							'Matthew', 'Laura', 'Kevin', 'Jonas'],
			'score': [12.5, 9, 16.5, np.nan, 9, 20, 14.5, np.nan, 8, 19],
			'attempts': [1, 3, 2, 3, 2, 3, 1, 1, 2, 1],
			'qualify': ['yes', 'no', 'yes', 'no', 'no', 'yes', 'yes', 'no', 'no', 'yes']
	}
	labels = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j']

	df = pd.DataFrame(exam_data, index=labels)
	print(df)
     
		 
if __name__ == "__main__":
  main()

        name  score  attempts qualify
a  Anastasia   12.5         1     yes
b       Dima    9.0         3      no
c  Katherine   16.5         2     yes
d      James    NaN         3      no
e      Emily    9.0         2      no
f    Michael   20.0         3     yes
g    Matthew   14.5         1     yes
h      Laura    NaN         1      no
i      Kevin    8.0         2      no
j      Jonas   19.0         1     yes

## 6. Write a Python program to display a summary of the basic information about a specified Data Frame and its data.
Sample Python dictionary data and list labels:<br>
exam_data = {<br>'name': ['Anastasia', 'Dima', 'Katherine', 'James', 'Emily', 'Michael', 'Matthew',
'Laura', 'Kevin', 'Jonas'],<br>
'score': [12.5, 9, 16.5, np.nan, 9, 20, 14.5, np.nan, 8, 19],<br>
'attempts': [1, 3, 2, 3, 2, 3, 1, 1, 2, 1],<br>
'qualify': ['yes', 'no', 'yes', 'no', 'no', 'yes', 'yes', 'no', 'no', 'yes']<br>}<br>
labels = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j']

In [9]:
def main():
	exam_data = {
			'name': ['Anastasia', 'Dima', 'Katherine', 'James', 'Emily', 'Michael',
							'Matthew', 'Laura', 'Kevin', 'Jonas'],
			'score': [12.5, 9, 16.5, np.nan, 9, 20, 14.5, np.nan, 8, 19],
			'attempts': [1, 3, 2, 3, 2, 3, 1, 1, 2, 1],
			'qualify': ['yes', 'no', 'yes', 'no', 'no', 'yes', 'yes', 'no', 'no', 'yes']
	}
	labels = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j']

	df = pd.DataFrame(exam_data, index=labels)
	print(df)
     
	print("\nBasic Information about the DataFrame:")
	print(df.info())
     
		 
if __name__ == "__main__":
  main()

        name  score  attempts qualify
a  Anastasia   12.5         1     yes
b       Dima    9.0         3      no
c  Katherine   16.5         2     yes
d      James    NaN         3      no
e      Emily    9.0         2      no
f    Michael   20.0         3     yes
g    Matthew   14.5         1     yes
h      Laura    NaN         1      no
i      Kevin    8.0         2      no
j      Jonas   19.0         1     yes

Basic Information about the DataFrame:
<class 'pandas.core.frame.DataFrame'>
Index: 10 entries, a to j
Data columns (total 4 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   name      10 non-null     object
 1   score     8 non-null      float64
 2   attempts  10 non-null     int64
 3   qualify   10 non-null     object
dtypes: float64(1), int64(1), object(2)
memory usage: 400.0+ bytes
None

## 7. Write a Python program to get the first 3 rows of a given DataFrame.

Sample Python dictionary data and list labels:<br>
exam_data = {<br>'name': ['Anastasia', 'Dima', 'Katherine', 'James', 'Emily', 'Michael', 'Matthew',
'Laura', 'Kevin', 'Jonas'],<br>
'score': [12.5, 9, 16.5, np.nan, 9, 20, 14.5, np.nan, 8, 19],<br>
'attempts': [1, 3, 2, 3, 2, 3, 1, 1, 2, 1],<br>
'qualify': ['yes', 'no', 'yes', 'no', 'no', 'yes', 'yes', 'no', 'no', 'yes']<br>}<br>
labels = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j']

In [14]:
def main():
	exam_data = {
			'name': ['Anastasia', 'Dima', 'Katherine', 'James', 'Emily', 'Michael',
							'Matthew', 'Laura', 'Kevin', 'Jonas'],
			'score': [12.5, 9, 16.5, np.nan, 9, 20, 14.5, np.nan, 8, 19],
			'attempts': [1, 3, 2, 3, 2, 3, 1, 1, 2, 1],
			'qualify': ['yes', 'no', 'yes', 'no', 'no', 'yes', 'yes', 'no', 'no', 'yes']
	}
	labels = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j']

	df = pd.DataFrame(exam_data, index=labels)
	print("Original dataframe: \n",df)
	print("\nFirst three elements: \n",df.head(3))
     

if __name__ == "__main__":
  main()

Original dataframe:
         name  score  attempts qualify
a  Anastasia   12.5         1     yes
b       Dima    9.0         3      no
c  Katherine   16.5         2     yes
d      James    NaN         3      no
e      Emily    9.0         2      no
f    Michael   20.0         3     yes
g    Matthew   14.5         1     yes
h      Laura    NaN         1      no
i      Kevin    8.0         2      no
j      Jonas   19.0         1     yes

First three elements:
         name  score  attempts qualify
a  Anastasia   12.5         1     yes
b       Dima    9.0         3      no
c  Katherine   16.5         2     yes

## 8. Write a Python program to select the 'name' and 'score' columns from the following DataFrame.

Sample Python dictionary data and list labels:<br>
exam_data = {<br>'name': ['Anastasia', 'Dima', 'Katherine', 'James', 'Emily', 'Michael', 'Matthew',
'Laura', 'Kevin', 'Jonas'],<br>
'score': [12.5, 9, 16.5, np.nan, 9, 20, 14.5, np.nan, 8, 19],<br>
'attempts': [1, 3, 2, 3, 2, 3, 1, 1, 2, 1],<br>
'qualify': ['yes', 'no', 'yes', 'no', 'no', 'yes', 'yes', 'no', 'no', 'yes']<br>}<br>
labels = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j']

In [26]:
def main():
	exam_data = {
			'name': ['Anastasia', 'Dima', 'Katherine', 'James', 'Emily', 'Michael',
							'Matthew', 'Laura', 'Kevin', 'Jonas'],
			'score': [12.5, 9, 16.5, np.nan, 9, 20, 14.5, np.nan, 8, 19],
			'attempts': [1, 3, 2, 3, 2, 3, 1, 1, 2, 1],
			'qualify': ['yes', 'no', 'yes', 'no', 'no', 'yes', 'yes', 'no', 'no', 'yes']
	}
	labels = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j']

	df = pd.DataFrame(exam_data, index=labels)
	print(df)
     
	print("\nSpecific column in the DataFrame:")
	print(df.loc[:,['name','score']])
     
		 
if __name__ == "__main__":
  main()

        name  score  attempts qualify
a  Anastasia   12.5         1     yes
b       Dima    9.0         3      no
c  Katherine   16.5         2     yes
d      James    NaN         3      no
e      Emily    9.0         2      no
f    Michael   20.0         3     yes
g    Matthew   14.5         1     yes
h      Laura    NaN         1      no
i      Kevin    8.0         2      no
j      Jonas   19.0         1     yes

Specific column in the DataFrame:
        name  score
a  Anastasia   12.5
b       Dima    9.0
c  Katherine   16.5
d      James    NaN
e      Emily    9.0
f    Michael   20.0
g    Matthew   14.5
h      Laura    NaN
i      Kevin    8.0
j      Jonas   19.0

## 9. Write a Python program to select the specified columns and rows from a given data frame.
Sample Python dictionary data and list labels:<br>
exam_data = {<br>'name': ['Anastasia', 'Dima', 'Katherine', 'James', 'Emily', 'Michael', 'Matthew',
'Laura', 'Kevin', 'Jonas'],<br>
'score': [12.5, 9, 16.5, np.nan, 9, 20, 14.5, np.nan, 8, 19],<br>
'attempts': [1, 3, 2, 3, 2, 3, 1, 1, 2, 1],<br>
'qualify': ['yes', 'no', 'yes', 'no', 'no', 'yes', 'yes', 'no', 'no', 'yes']<br>}<br>
labels = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j']

In [27]:
def main():
	exam_data = {
			'name': ['Anastasia', 'Dima', 'Katherine', 'James', 'Emily', 'Michael',
							'Matthew', 'Laura', 'Kevin', 'Jonas'],
			'score': [12.5, 9, 16.5, np.nan, 9, 20, 14.5, np.nan, 8, 19],
			'attempts': [1, 3, 2, 3, 2, 3, 1, 1, 2, 1],
			'qualify': ['yes', 'no', 'yes', 'no', 'no', 'yes', 'yes', 'no', 'no', 'yes']
	}
	labels = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j']

	df = pd.DataFrame(exam_data, index=labels)
	print(df)    
	print("\nSpecific column and row in the DataFrame:")
	print(df.loc['b':'g':,['name','score']])
     
     
if __name__ == "__main__":
  main()

        name  score  attempts qualify
a  Anastasia   12.5         1     yes
b       Dima    9.0         3      no
c  Katherine   16.5         2     yes
d      James    NaN         3      no
e      Emily    9.0         2      no
f    Michael   20.0         3     yes
g    Matthew   14.5         1     yes
h      Laura    NaN         1      no
i      Kevin    8.0         2      no
j      Jonas   19.0         1     yes

Specific column and row in the DataFrame:
        name  score
b       Dima    9.0
c  Katherine   16.5
d      James    NaN
e      Emily    9.0
f    Michael   20.0
g    Matthew   14.5

## 10. Write a Python program to select the rows where the number of attempts in the examination is greater than 2
Sample Python dictionary data and list labels:<br>
exam_data = {<br>'name': ['Anastasia', 'Dima', 'Katherine', 'James', 'Emily', 'Michael', 'Matthew',
'Laura', 'Kevin', 'Jonas'],<br>
'score': [12.5, 9, 16.5, np.nan, 9, 20, 14.5, np.nan, 8, 19],<br>
'attempts': [1, 3, 2, 3, 2, 3, 1, 1, 2, 1],<br>
'qualify': ['yes', 'no', 'yes', 'no', 'no', 'yes', 'yes', 'no', 'no', 'yes']<br>}<br>
labels = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j']

In [48]:
def main():
	exam_data = {
			'name': ['Anastasia', 'Dima', 'Katherine', 'James', 'Emily', 'Michael',
							'Matthew', 'Laura', 'Kevin', 'Jonas'],
			'score': [12.5, 9, 16.5, np.nan, 9, 20, 14.5, np.nan, 8, 19],
			'attempts': [1, 3, 2, 3, 2, 3, 1, 1, 2, 1],
			'qualify': ['yes', 'no', 'yes', 'no', 'no', 'yes', 'yes', 'no', 'no', 'yes']
	}
	labels = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j']

	df = pd.DataFrame(exam_data, index=labels)
	print(df)
	print("\nSpecific row in the DataFrame:")
	print(df.loc[df['attempts']>2])
     

if __name__ == "__main__":
  main()

        name  score  attempts qualify
a  Anastasia   12.5         1     yes
b       Dima    9.0         3      no
c  Katherine   16.5         2     yes
d      James    NaN         3      no
e      Emily    9.0         2      no
f    Michael   20.0         3     yes
g    Matthew   14.5         1     yes
h      Laura    NaN         1      no
i      Kevin    8.0         2      no
j      Jonas   19.0         1     yes

Specific column and row in the DataFrame:
      name  score  attempts qualify
b     Dima    9.0         3      no
d    James    NaN         3      no
f  Michael   20.0         3     yes

## 11. Write a Python program to count the number of rows and columns of a DataFrame
Sample Python dictionary data and list labels:<br>
exam_data = {<br>'name': ['Anastasia', 'Dima', 'Katherine', 'James', 'Emily', 'Michael', 'Matthew',
'Laura', 'Kevin', 'Jonas'],<br>
'score': [12.5, 9, 16.5, np.nan, 9, 20, 14.5, np.nan, 8, 19],<br>
'attempts': [1, 3, 2, 3, 2, 3, 1, 1, 2, 1],<br>
'qualify': ['yes', 'no', 'yes', 'no', 'no', 'yes', 'yes', 'no', 'no', 'yes']<br>}<br>
labels = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j']

In [57]:
def main():
	exam_data = {
			'name': ['Anastasia', 'Dima', 'Katherine', 'James', 'Emily', 'Michael',
							'Matthew', 'Laura', 'Kevin', 'Jonas'],
			'score': [12.5, 9, 16.5, np.nan, 9, 20, 14.5, np.nan, 8, 19],
			'attempts': [1, 3, 2, 3, 2, 3, 1, 1, 2, 1],
			'qualify': ['yes', 'no', 'yes', 'no', 'no', 'yes', 'yes', 'no', 'no', 'yes']
	}
	labels = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j']

	df = pd.DataFrame(exam_data, index=labels)
	print("Original dataframe :\n",df)
     
	print("\nShape of dataframe:")
	print(df.shape)
     
    
if __name__ == "__main__":
  main()

        name  score  attempts qualify
a  Anastasia   12.5         1     yes
b       Dima    9.0         3      no
c  Katherine   16.5         2     yes
d      James    NaN         3      no
e      Emily    9.0         2      no
f    Michael   20.0         3     yes
g    Matthew   14.5         1     yes
h      Laura    NaN         1      no
i      Kevin    8.0         2      no
j      Jonas   19.0         1     yes

Shape of dataframe:
(10, 4)

## 12. Python program to select the rows where the score is missing, i.e. is NaN.
Sample Python dictionary data and list labels:<br>
exam_data = {<br>'name': ['Anastasia', 'Dima', 'Katherine', 'James', 'Emily', 'Michael', 'Matthew',
'Laura', 'Kevin', 'Jonas'],<br>
'score': [12.5, 9, 16.5, np.nan, 9, 20, 14.5, np.nan, 8, 19],<br>
'attempts': [1, 3, 2, 3, 2, 3, 1, 1, 2, 1],<br>
'qualify': ['yes', 'no', 'yes', 'no', 'no', 'yes', 'yes', 'no', 'no', 'yes']<br>}<br>
labels = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j']

In [69]:
def main():
	exam_data = {
			'name': ['Anastasia', 'Dima', 'Katherine', 'James', 'Emily', 'Michael',
							'Matthew', 'Laura', 'Kevin', 'Jonas'],
			'score': [12.5, 9, 16.5, np.nan, 9, 20, 14.5, np.nan, 8, 19],
			'attempts': [1, 3, 2, 3, 2, 3, 1, 1, 2, 1],
			'qualify': ['yes', 'no', 'yes', 'no', 'no', 'yes', 'yes', 'no', 'no', 'yes']
	}
	labels = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j']

	df = pd.DataFrame(exam_data, index=labels)
	print("Original dataframe :\n",df)
     
	print("\nRows where score is nan:")
	print(df.loc[df['score'].isnull()])
     
  
if __name__ == "__main__":
  main()

Original dataframe :
         name  score  attempts qualify
a  Anastasia   12.5         1     yes
b       Dima    9.0         3      no
c  Katherine   16.5         2     yes
d      James    NaN         3      no
e      Emily    9.0         2      no
f    Michael   20.0         3     yes
g    Matthew   14.5         1     yes
h      Laura    NaN         1      no
i      Kevin    8.0         2      no
j      Jonas   19.0         1     yes

Rows where score is nan:
    name  score  attempts qualify
d  James    NaN         3      no
h  Laura    NaN         1      no

## 13. Write a Python program to select the rows where number of attempts in the examination is less than 2 and score greater than 15.
exam_data = {<br>'name': ['Anastasia', 'Dima', 'Katherine', 'James', 'Emily', 'Michael', 'Matthew',<br>
'Laura', 'Kevin', 'Jonas'],<br>
'score': [12.5, 9, 16.5, np.nan, 9, 20, 14.5, np.nan, 8, 19],<br>
'attempts': [1, 3, 2, 3, 2, 3, 1, 1, 2, 1],<br>
'qualify': ['yes', 'no', 'yes', 'no', 'no', 'yes', 'yes', 'no', 'no', 'yes']<br>}<br>
labels = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j']

In [75]:
def main():
	exam_data = {
			'name': ['Anastasia', 'Dima', 'Katherine', 'James', 'Emily', 'Michael',
							'Matthew', 'Laura', 'Kevin', 'Jonas'],
			'score': [12.5, 9, 16.5, np.nan, 9, 20, 14.5, np.nan, 8, 19],
			'attempts': [1, 3, 2, 3, 2, 3, 1, 1, 2, 1],
			'qualify': ['yes', 'no', 'yes', 'no', 'no', 'yes', 'yes', 'no', 'no', 'yes']
	}
	labels = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j']

	df = pd.DataFrame(exam_data, index=labels)
	print("Original dataframe :\n",df)
     
	print("\nAttempts >2 score<15 :")
	print(df.loc[(df['score']<15) & (df['attempts']<2)] ) #loc can be used
     

if __name__ == "__main__":
  main()

Original dataframe :
         name  score  attempts qualify
a  Anastasia   12.5         1     yes
b       Dima    9.0         3      no
c  Katherine   16.5         2     yes
d      James    NaN         3      no
e      Emily    9.0         2      no
f    Michael   20.0         3     yes
g    Matthew   14.5         1     yes
h      Laura    NaN         1      no
i      Kevin    8.0         2      no
j      Jonas   19.0         1     yes

Attempts >2 score<15 :
        name  score  attempts qualify
a  Anastasia   12.5         1     yes
g    Matthew   14.5         1     yes

## 14. Write a Python program to change the score in row 'd' to 11.5
exam_data = {<br>'name': ['Anastasia', 'Dima', 'Katherine', 'James', 'Emily', 'Michael', 'Matthew',<br>
'Laura', 'Kevin', 'Jonas'],<br>
'score': [12.5, 9, 16.5, np.nan, 9, 20, 14.5, np.nan, 8, 19],<br>
'attempts': [1, 3, 2, 3, 2, 3, 1, 1, 2, 1],<br>
'qualify': ['yes', 'no', 'yes', 'no', 'no', 'yes', 'yes', 'no', 'no', 'yes']<br>}<br>
labels = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j']

In [78]:
def main():
	exam_data = {
			'name': ['Anastasia', 'Dima', 'Katherine', 'James', 'Emily', 'Michael',
							'Matthew', 'Laura', 'Kevin', 'Jonas'],
			'score': [12.5, 9, 16.5, np.nan, 9, 20, 14.5, np.nan, 8, 19],
			'attempts': [1, 3, 2, 3, 2, 3, 1, 1, 2, 1],
			'qualify': ['yes', 'no', 'yes', 'no', 'no', 'yes', 'yes', 'no', 'no', 'yes']
	}
	labels = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j']

	df = pd.DataFrame(exam_data, index=labels)
	print("Original dataframe :\n",df)
     
	print("\nChange d in score to 11.5:")
	df.loc['d','score']=11.5
	print(df)
     

if __name__ == "__main__":
  main()

Original dataframe :
         name  score  attempts qualify
a  Anastasia   12.5         1     yes
b       Dima    9.0         3      no
c  Katherine   16.5         2     yes
d      James    NaN         3      no
e      Emily    9.0         2      no
f    Michael   20.0         3     yes
g    Matthew   14.5         1     yes
h      Laura    NaN         1      no
i      Kevin    8.0         2      no
j      Jonas   19.0         1     yes

Change d in score to 11.5:
        name  score  attempts qualify
a  Anastasia   12.5         1     yes
b       Dima    9.0         3      no
c  Katherine   16.5         2     yes
d      James   11.5         3      no
e      Emily    9.0         2      no
f    Michael   20.0         3     yes
g    Matthew   14.5         1     yes
h      Laura    NaN         1      no
i      Kevin    8.0         2      no
j      Jonas   19.0         1     yes

## 15. Write a Python program to calculate the sum of the examination attempts by the students.
exam_data = {<br>'name': ['Anastasia', 'Dima', 'Katherine', 'James', 'Emily', 'Michael', 'Matthew',<br>
'Laura', 'Kevin', 'Jonas'],<br>
'score': [12.5, 9, 16.5, np.nan, 9, 20, 14.5, np.nan, 8, 19],<br>
'attempts': [1, 3, 2, 3, 2, 3, 1, 1, 2, 1],<br>
'qualify': ['yes', 'no', 'yes', 'no', 'no', 'yes', 'yes', 'no', 'no', 'yes']<br>}<br>
labels = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j']

In [80]:
def main():
	exam_data = {
			'name': ['Anastasia', 'Dima', 'Katherine', 'James', 'Emily', 'Michael',
							'Matthew', 'Laura', 'Kevin', 'Jonas'],
			'score': [12.5, 9, 16.5, np.nan, 9, 20, 14.5, np.nan, 8, 19],
			'attempts': [1, 3, 2, 3, 2, 3, 1, 1, 2, 1],
			'qualify': ['yes', 'no', 'yes', 'no', 'no', 'yes', 'yes', 'no', 'no', 'yes']
	}
	labels = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j']

	df = pd.DataFrame(exam_data, index=labels)
	print("Original dataframe :\n",df)
     
	print("\nSum of attempts :")
	print(df['attempts'].sum())
     
    
if __name__ == "__main__":
  main()

Original dataframe :
         name  score  attempts qualify
a  Anastasia   12.5         1     yes
b       Dima    9.0         3      no
c  Katherine   16.5         2     yes
d      James    NaN         3      no
e      Emily    9.0         2      no
f    Michael   20.0         3     yes
g    Matthew   14.5         1     yes
h      Laura    NaN         1      no
i      Kevin    8.0         2      no
j      Jonas   19.0         1     yes

Sum of attempts :
19

## 16. Write a Python program to calculate the mean score for each different student in DataFrame.
exam_data = {<br>'name': ['Anastasia', 'Dima', 'Katherine', 'James', 'Emily', 'Michael', 'Matthew',<br>
'Laura', 'Kevin', 'Jonas'],<br>
'score': [12.5, 9, 16.5, np.nan, 9, 20, 14.5, np.nan, 8, 19],<br>
'attempts': [1, 3, 2, 3, 2, 3, 1, 1, 2, 1],<br>
'qualify': ['yes', 'no', 'yes', 'no', 'no', 'yes', 'yes', 'no', 'no', 'yes']<br>}<br>
labels = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j']

In [82]:
def main():
	exam_data = {
			'name': ['Anastasia', 'Dima', 'Katherine', 'James', 'Emily', 'Michael',
							'Matthew', 'Laura', 'Kevin', 'Jonas'],
			'score': [12.5, 9, 16.5, np.nan, 9, 20, 14.5, np.nan, 8, 19],
			'attempts': [1, 3, 2, 3, 2, 3, 1, 1, 2, 1],
			'qualify': ['yes', 'no', 'yes', 'no', 'no', 'yes', 'yes', 'no', 'no', 'yes']
	}
	labels = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j']

	df = pd.DataFrame(exam_data, index=labels)
	print("Original dataframe :\n",df)
     
	print("\nRows where score is nan:")
	print(df['score'].mean())
     
    
if __name__ == "__main__":
  main()

Original dataframe :
         name  score  attempts qualify
a  Anastasia   12.5         1     yes
b       Dima    9.0         3      no
c  Katherine   16.5         2     yes
d      James    NaN         3      no
e      Emily    9.0         2      no
f    Michael   20.0         3     yes
g    Matthew   14.5         1     yes
h      Laura    NaN         1      no
i      Kevin    8.0         2      no
j      Jonas   19.0         1     yes

Rows where score is nan:
13.5625

## 17. Write a Python program to append a new row 'k' to data frame with given values for each column. Now delete the new row and return the original DataFrame.
exam_data = {<br>'name': ['Anastasia', 'Dima', 'Katherine', 'James', 'Emily', 'Michael', 'Matthew',<br>
'Laura', 'Kevin', 'Jonas'],<br>
'score': [12.5, 9, 16.5, np.nan, 9, 20, 14.5, np.nan, 8, 19],<br>
'attempts': [1, 3, 2, 3, 2, 3, 1, 1, 2, 1],<br>
'qualify': ['yes', 'no', 'yes', 'no', 'no', 'yes', 'yes', 'no', 'no', 'yes']<br>}<br>
labels = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j']

In [84]:
def main():
	exam_data = {
			'name': ['Anastasia', 'Dima', 'Katherine', 'James', 'Emily', 'Michael',
							'Matthew', 'Laura', 'Kevin', 'Jonas'],
			'score': [12.5, 9, 16.5, np.nan, 9, 20, 14.5, np.nan, 8, 19],
			'attempts': [1, 3, 2, 3, 2, 3, 1, 1, 2, 1],
			'qualify': ['yes', 'no', 'yes', 'no', 'no', 'yes', 'yes', 'no', 'no', 'yes']
	}
	labels = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j']

	df = pd.DataFrame(exam_data, index=labels)
	print("Original dataframe :\n",df)
  
	new_df = pd.DataFrame([["prayag", 20, 1, 'yes']],columns=df.columns,index=['k'])
	df = pd.concat([df,new_df])
     
	print("\nRows added :")
	print(df)
     
    
if __name__ == "__main__":
  main()

Original dataframe :
         name  score  attempts qualify
a  Anastasia   12.5         1     yes
b       Dima    9.0         3      no
c  Katherine   16.5         2     yes
d      James    NaN         3      no
e      Emily    9.0         2      no
f    Michael   20.0         3     yes
g    Matthew   14.5         1     yes
h      Laura    NaN         1      no
i      Kevin    8.0         2      no
j      Jonas   19.0         1     yes

Rows added :
        name  score  attempts qualify
a  Anastasia   12.5         1     yes
b       Dima    9.0         3      no
c  Katherine   16.5         2     yes
d      James    NaN         3      no
e      Emily    9.0         2      no
f    Michael   20.0         3     yes
g    Matthew   14.5         1     yes
h      Laura    NaN         1      no
i      Kevin    8.0         2      no
j      Jonas   19.0         1     yes
k     prayag   20.0         1     yes

## 18. Write a Python program to sort the DataFrame first by 'name' in descending order, then by 'score' in ascending order.
\exam_data = {<br>'name': ['Anastasia', 'Dima', 'Katherine', 'James', 'Emily', 'Michael', 'Matthew',<br>
'Laura', 'Kevin', 'Jonas'],<br>
'score': [12.5, 9, 16.5, np.nan, 9, 20, 14.5, np.nan, 8, 19],<br>
'attempts': [1, 3, 2, 3, 2, 3, 1, 1, 2, 1],<br>
'qualify': ['yes', 'no', 'yes', 'no', 'no', 'yes', 'yes', 'no', 'no', 'yes']<br>}<br>
labels = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j']

In [90]:
def main():
	exam_data = {
			'name': ['Anastasia', 'Dima', 'Katherine', 'James', 'Emily', 'Michael',
							'Matthew', 'Laura', 'Kevin', 'Jonas'],
			'score': [12.5, 9, 16.5, np.nan, 9, 20, 14.5, np.nan, 8, 19],
			'attempts': [1, 3, 2, 3, 2, 3, 1, 1, 2, 1],
			'qualify': ['yes', 'no', 'yes', 'no', 'no', 'yes', 'yes', 'no', 'no', 'yes']
	}
	labels = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j']

	df = pd.DataFrame(exam_data, index=labels)
	print("Original dataframe :\n",df)
  
	df = df.sort_values(by="name",ascending=False)
	print("\nName ascending dataframe :\n",df)
	df = df.sort_values(by="score") #default aascending true
	print("\nScore descending dataframe :\n",df)
     
     
if __name__ == "__main__":
  main()

Original dataframe :
         name  score  attempts qualify
a  Anastasia   12.5         1     yes
b       Dima    9.0         3      no
c  Katherine   16.5         2     yes
d      James    NaN         3      no
e      Emily    9.0         2      no
f    Michael   20.0         3     yes
g    Matthew   14.5         1     yes
h      Laura    NaN         1      no
i      Kevin    8.0         2      no
j      Jonas   19.0         1     yes

Name ascending dataframe :
         name  score  attempts qualify
f    Michael   20.0         3     yes
g    Matthew   14.5         1     yes
h      Laura    NaN         1      no
i      Kevin    8.0         2      no
c  Katherine   16.5         2     yes
j      Jonas   19.0         1     yes
d      James    NaN         3      no
e      Emily    9.0         2      no
b       Dima    9.0         3      no
a  Anastasia   12.5         1     yes

Score descending dataframe :
         name  score  attempts qualify
i      Kevin    8.0         2      no
e      Emily    9.0         2      no
b       Dima    9.0         3      no
a  Anastasia   12.5         1     yes
g    Matthew   14.5         1     yes
c  Katherine   16.5         2     yes
j      Jonas   19.0         1     yes
f    Michael   20.0         3     yes
h      Laura    NaN         1      no
d      James    NaN         3      no

## 19. Write a Python program to replace the 'qualify' column contains the values 'yes' and 'no' with True and False
exam_data = {<br>'name': ['Anastasia', 'Dima', 'Katherine', 'James', 'Emily', 'Michael', 'Matthew',<br>
'Laura', 'Kevin', 'Jonas'],<br>
'score': [12.5, 9, 16.5, np.nan, 9, 20, 14.5, np.nan, 8, 19],<br>
'attempts': [1, 3, 2, 3, 2, 3, 1, 1, 2, 1],<br>
'qualify': ['yes', 'no', 'yes', 'no', 'no', 'yes', 'yes', 'no', 'no', 'yes']<br>}<br>
labels = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j']

In [94]:
def main():
	exam_data = {
			'name': ['Anastasia', 'Dima', 'Katherine', 'James', 'Emily', 'Michael',
							'Matthew', 'Laura', 'Kevin', 'Jonas'],
			'score': [12.5, 9, 16.5, np.nan, 9, 20, 14.5, np.nan, 8, 19],
			'attempts': [1, 3, 2, 3, 2, 3, 1, 1, 2, 1],
			'qualify': ['yes', 'no', 'yes', 'no', 'no', 'yes', 'yes', 'no', 'no', 'yes']
	}
	labels = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j']

	df = pd.DataFrame(exam_data, index=labels)
	print("Original dataframe :\n",df)
  
	df['qualify'] = df['qualify'].replace({'yes': True, 'no': False})#can use map
	print("Original dataframe :\n",df)

     
if __name__ == "__main__":
  main()

Original dataframe :
         name  score  attempts qualify
a  Anastasia   12.5         1     yes
b       Dima    9.0         3      no
c  Katherine   16.5         2     yes
d      James    NaN         3      no
e      Emily    9.0         2      no
f    Michael   20.0         3     yes
g    Matthew   14.5         1     yes
h      Laura    NaN         1      no
i      Kevin    8.0         2      no
j      Jonas   19.0         1     yes
Original dataframe :
         name  score  attempts  qualify
a  Anastasia   12.5         1     True
b       Dima    9.0         3    False
c  Katherine   16.5         2     True
d      James    NaN         3    False
e      Emily    9.0         2    False
f    Michael   20.0         3     True
g    Matthew   14.5         1     True
h      Laura    NaN         1    False
i      Kevin    8.0         2    False
j      Jonas   19.0         1     True

C:\Users\bhoir\AppData\Local\Temp\ipykernel_26260\1588794132.py:14: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  df['qualify'] = df['qualify'].replace({'yes': True, 'no': False})#can use map

## 20. Write a Python program to delete the 'attempts' column from the DataFrame.
exam_data = {<br>'name': ['Anastasia', 'Dima', 'Katherine', 'James', 'Emily', 'Michael', 'Matthew',<br>
'Laura', 'Kevin', 'Jonas'],<br>
'score': [12.5, 9, 16.5, np.nan, 9, 20, 14.5, np.nan, 8, 19],<br>
'attempts': [1, 3, 2, 3, 2, 3, 1, 1, 2, 1],<br>
'qualify': ['yes', 'no', 'yes', 'no', 'no', 'yes', 'yes', 'no', 'no', 'yes']<br>}<br>
labels = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j']

In [96]:
def main():
	exam_data = {
			'name': ['Anastasia', 'Dima', 'Katherine', 'James', 'Emily', 'Michael',
							'Matthew', 'Laura', 'Kevin', 'Jonas'],
			'score': [12.5, 9, 16.5, np.nan, 9, 20, 14.5, np.nan, 8, 19],
			'attempts': [1, 3, 2, 3, 2, 3, 1, 1, 2, 1],
			'qualify': ['yes', 'no', 'yes', 'no', 'no', 'yes', 'yes', 'no', 'no', 'yes']
	}
	labels = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j']

	df = pd.DataFrame(exam_data, index=labels)
	print("Original dataframe :\n",df)
	df.pop("attempts")
	print("\nAfter removing :")
	print(df)
     
    
if __name__ == "__main__":
  main()

Original dataframe :
         name  score  attempts qualify
a  Anastasia   12.5         1     yes
b       Dima    9.0         3      no
c  Katherine   16.5         2     yes
d      James    NaN         3      no
e      Emily    9.0         2      no
f    Michael   20.0         3     yes
g    Matthew   14.5         1     yes
h      Laura    NaN         1      no
i      Kevin    8.0         2      no
j      Jonas   19.0         1     yes

After removing :
        name  score qualify
a  Anastasia   12.5     yes
b       Dima    9.0      no
c  Katherine   16.5     yes
d      James    NaN      no
e      Emily    9.0      no
f    Michael   20.0     yes
g    Matthew   14.5     yes
h      Laura    NaN      no
i      Kevin    8.0      no
j      Jonas   19.0     yes

## 21. Write a Python program to insert a new column in existing DataFrame
exam_data = {<br>'name': ['Anastasia', 'Dima', 'Katherine', 'James', 'Emily', 'Michael', 'Matthew',<br>
'Laura', 'Kevin', 'Jonas'],<br>
'score': [12.5, 9, 16.5, np.nan, 9, 20, 14.5, np.nan, 8, 19],<br>
'attempts': [1, 3, 2, 3, 2, 3, 1, 1, 2, 1],<br>
'qualify': ['yes', 'no', 'yes', 'no', 'no', 'yes', 'yes', 'no', 'no', 'yes']<br>}<br>
labels = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j']

In [98]:
def main():
	exam_data = {
			'name': ['Anastasia', 'Dima', 'Katherine', 'James', 'Emily', 'Michael',
							'Matthew', 'Laura', 'Kevin', 'Jonas'],
			'score': [12.5, 9, 16.5, np.nan, 9, 20, 14.5, np.nan, 8, 19],
			'attempts': [1, 3, 2, 3, 2, 3, 1, 1, 2, 1],
			'qualify': ['yes', 'no', 'yes', 'no', 'no', 'yes', 'yes', 'no', 'no', 'yes']
	}
	labels = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j']

	df = pd.DataFrame(exam_data, index=labels)
	print("Original dataframe :\n",df)
  
	df["smart"]= ['yes', 'no', 'yes', 'no', 'no', 'yes', 'yes', 'no', 'no', 'yes']
	print("\nColumn added :")
	print(df)
     
   
if __name__ == "__main__":
  main()

Original dataframe :
         name  score  attempts qualify
a  Anastasia   12.5         1     yes
b       Dima    9.0         3      no
c  Katherine   16.5         2     yes
d      James    NaN         3      no
e      Emily    9.0         2      no
f    Michael   20.0         3     yes
g    Matthew   14.5         1     yes
h      Laura    NaN         1      no
i      Kevin    8.0         2      no
j      Jonas   19.0         1     yes

Column added :
        name  score  attempts qualify smart
a  Anastasia   12.5         1     yes   yes
b       Dima    9.0         3      no    no
c  Katherine   16.5         2     yes   yes
d      James    NaN         3      no    no
e      Emily    9.0         2      no    no
f    Michael   20.0         3     yes   yes
g    Matthew   14.5         1     yes   yes
h      Laura    NaN         1      no    no
i      Kevin    8.0         2      no    no
j      Jonas   19.0         1     yes   yes

## 22. Write a Python program to iterate over rows in a DataFrame
exam_data = {<br>'name': ['Anastasia', 'Dima', 'Katherine', 'James', 'Emily', 'Michael', 'Matthew',<br>
'Laura', 'Kevin', 'Jonas'],<br>
'score': [12.5, 9, 16.5, np.nan, 9, 20, 14.5, np.nan, 8, 19],<br>
'attempts': [1, 3, 2, 3, 2, 3, 1, 1, 2, 1],<br>
'qualify': ['yes', 'no', 'yes', 'no', 'no', 'yes', 'yes', 'no', 'no', 'yes']<br>}<br>
labels = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j']

In [102]:
def main():
	exam_data = {
			'name': ['Anastasia', 'Dima', 'Katherine', 'James', 'Emily', 'Michael',
							'Matthew', 'Laura', 'Kevin', 'Jonas'],
			'score': [12.5, 9, 16.5, np.nan, 9, 20, 14.5, np.nan, 8, 19],
			'attempts': [1, 3, 2, 3, 2, 3, 1, 1, 2, 1],
			'qualify': ['yes', 'no', 'yes', 'no', 'no', 'yes', 'yes', 'no', 'no', 'yes']
	}
	labels = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j']

	df = pd.DataFrame(exam_data, index=labels)
	print("Original dataframe :\n",df)
  
     
	for index, row in df.iterrows():
		print(f"Index: {index}")
		print(f"Row data:\n{row}")
		print()
		
	"""
	print("Using itertuples():")
	Using itertuples() to iterate over rows
	for row in df.itertuples():
		print(f"Index: {row.Index}")
		print(f"Row data:\n{row}")
		print()
	"""
     
    
if __name__ == "__main__":
  main()

Original dataframe :
         name  score  attempts qualify
a  Anastasia   12.5         1     yes
b       Dima    9.0         3      no
c  Katherine   16.5         2     yes
d      James    NaN         3      no
e      Emily    9.0         2      no
f    Michael   20.0         3     yes
g    Matthew   14.5         1     yes
h      Laura    NaN         1      no
i      Kevin    8.0         2      no
j      Jonas   19.0         1     yes
Index: a
Row data:
name        Anastasia
score            12.5
attempts            1
qualify           yes
Name: a, dtype: object

Index: b
Row data:
name        Dima
score        9.0
attempts       3
qualify       no
Name: b, dtype: object

Index: c
Row data:
name        Katherine
score            16.5
attempts            2
qualify           yes
Name: c, dtype: object

Index: d
Row data:
name        James
score         NaN
attempts        3
qualify        no
Name: d, dtype: object

Index: e
Row data:
name        Emily
score         9.0
attempts        2
qualify        no
Name: e, dtype: object

Index: f
Row data:
name        Michael
score          20.0
attempts          3
qualify         yes
Name: f, dtype: object

Index: g
Row data:
name        Matthew
score          14.5
attempts          1
qualify         yes
Name: g, dtype: object

Index: h
Row data:
name        Laura
score         NaN
attempts        1
qualify        no
Name: h, dtype: object

Index: i
Row data:
name        Kevin
score         8.0
attempts        2
qualify        no
Name: i, dtype: object

Index: j
Row data:
name        Jonas
score        19.0
attempts        1
qualify       yes
Name: j, dtype: object

## 23. Write a Python program to get list from DataFrame column headers.
exam_data = {<br>'name': ['Anastasia', 'Dima', 'Katherine', 'James', 'Emily', 'Michael', 'Matthew',<br>
'Laura', 'Kevin', 'Jonas'],<br>
'score': [12.5, 9, 16.5, np.nan, 9, 20, 14.5, np.nan, 8, 19],<br>
'attempts': [1, 3, 2, 3, 2, 3, 1, 1, 2, 1],<br>
'qualify': ['yes', 'no', 'yes', 'no', 'no', 'yes', 'yes', 'no', 'no', 'yes']<br>}<br>
labels = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j']

In [105]:
def main():
	exam_data = {
			'name': ['Anastasia', 'Dima', 'Katherine', 'James', 'Emily', 'Michael',
							'Matthew', 'Laura', 'Kevin', 'Jonas'],
			'score': [12.5, 9, 16.5, np.nan, 9, 20, 14.5, np.nan, 8, 19],
			'attempts': [1, 3, 2, 3, 2, 3, 1, 1, 2, 1],
			'qualify': ['yes', 'no', 'yes', 'no', 'no', 'yes', 'yes', 'no', 'no', 'yes']
	}
	labels = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j']

	df = pd.DataFrame(exam_data, index=labels)
	print("Original dataframe :\n",df)
	lst = df.columns.tolist()
     
	print("\nColumn list:")
	print(lst)
     
   
if __name__ == "__main__":
  main()

Original dataframe :
         name  score  attempts qualify
a  Anastasia   12.5         1     yes
b       Dima    9.0         3      no
c  Katherine   16.5         2     yes
d      James    NaN         3      no
e      Emily    9.0         2      no
f    Michael   20.0         3     yes
g    Matthew   14.5         1     yes
h      Laura    NaN         1      no
i      Kevin    8.0         2      no
j      Jonas   19.0         1     yes

Column list:
['name', 'score', 'attempts', 'qualify']